.profile-background {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
}

.container-profile {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-row {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%; /* Ensure box doesn't exceed viewport width */
  max-height: 100%; /* Ensure box doesn't exceed viewport height */
}

.profile-box {
  padding: 40px 40px;

  width: 500px;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.profile-box h2 {
  color: #fff;
  text-align: center;
  font-weight: 500;
}

.profile-box p {
  color: #fff;
}

.input-group .profile-badge {
  border-radius: 0px;
  padding: 10px 15px;
  border-radius: 6px 0 0 6px;
  font-size: 1.2rem;
}

.input-group .profile-input {
  border-radius: 0px 6px 6px 0px;
}

.input-group .profile-input:focus {
  box-shadow: none;
  border-color: #fff;
}

.profile-box form button {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  border-color: #45bc1b;
  background-color: #45bc1b;
  color: #fff;
}

.profile-box form button:focus {
  box-shadow: none;
  border-color: #45bc1b;
  background-color: #45bc1b;
}

.form-main .btn-next {
  width: 100%;
  border-radius: 4px;
  background-color: #fff;
  color: #717171;
}

.form-main .verfiy-btn {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 14px 14px;
  background-color: #fff;
  color: #717171;
  border: 1px solid #45bc1b !important;
}

.form-main .verfiy-btn:focus {
  background-color: #fff;
  border-color: #45bc1b !important;
  color: #717171;
}

.form-main .verfiy-btn .left-icon {
  float: left;
  font-size: 1.2rem;
}
.form-main .verfiy-btn .right-icon {
  float: right;
  font-size: 1rem;
  font-weight: 900;
  background-color: #eaffe3;
  border-radius: 50%;
  padding: 0px 5px;
}
.form-main .verfiy-btn .right-optional {
  float: right;
}
.form-main .verfiy-btn .verify-btn-text {
  margin-left: 28px;
}

.instruction {
  color: #fff;
}

.instruction ul {
  list-style-type: circle;
}

.instruction .instruction-badge {
  margin-right: 10px;
  color: red;
}

.instruction h4 {
  color: red;
}

.color-green {
  background-color: #45bc1b !important;
  color: #fff;
  padding: 0px 2px !important;
  font-size: 0.9rem !important;
}

.disabled {
  background-color: #46bc1b80 !important;
}
